.container {
  flex: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255,0);
    border-radius: 100px;
  }

  &::-webkit-scrollbar:hover {
    background-color: rgba(255,255,255,0.09);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,0.61);
    border-radius: 100px;
  }

  /* add vertical min-height & horizontal min-width */
  &::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    min-width: 10px;
  }
}
.loader {
  height: 52px;
}

.repository {
  color: #fff;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 16px 8px;
  display: block;
  border-bottom: 1px #333 solid;
}

.repositoryName {
  font-size: 1.2rem;
}

.repositoryLanguage {
  font-size: 1.2rem;
  position: absolute;
  right: 8px;
  top: 16px;
}

.repositoryDescription {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .8rem;
  padding: 4px 0;
}

.error {
  display: block;
  text-align: center;
  padding: 16px 8px;
  color: #D77F8F;
  font-size: 1.2rem;
}